body{
    background-color: #F50;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.grid-container{
    height: 600px;
    width: 600px;
    background-color: #fff;
}
.title{
    font-family: 'Courier New', Courier, monospace;
}